@import url('https://fonts.googleapis.com/css?family=Kanit:300i,400,600,700');
/* font-family: 'Kanit', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid purple; */
    outline: none;
}


body {
    font-family: 'Kanit', sans-serif;
    background: -webkit-radial-gradient(#1488CC, #2B32B2);  /* Chrome 10-25, Safari 5.1-6 */
    background: radial-gradient(#1488CC, #2B32B2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, .9);
    opacity: .8;
}

li {
    list-style: none;
}


.landing-page { 
    animation: .7s fadein .4s forwards;
    opacity: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}


.nav-container {
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: flex-end;

}

.nav-container .nav{
    display: flex;
    height: 4.2rem;
    flex-basis: 100%;
    justify-content: flex-end;
    align-content: center;
    padding-right: 1rem;
    /* outline: 2px solid green; */
    /* margin-bottom: 180px; */
}

.nav-container .nav li {
    /* outline: 1px solid blue; */
    /* display: flex; */
    padding: 13px 30px;
    letter-spacing: 1.5px;
    font-size: 1.6rem;
}

.nav-container .nav li a {
    /* outline: 1px solid blue; */
    padding-bottom: .3rem;
    transition: border-bottom .3s ease-out .2s, opacity .3s ease-in-out .3s;
    opacity: .8;
}

.nav-container .nav li a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, .9); 
    opacity: .6;
}

.title-container {
    height: 100%;
    width: 100%;
    padding: 11rem 0 0 0;
    /* outline: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    width: 100%;
    padding: 0 1rem;
    font-size: 6rem;
    color: white;
    line-height: 7rem;
    letter-spacing: 1rem;
    text-align: center;
    /* outline: 1px solid red; */
    /* text-shadow: 1px 1px 2px #456ef4; */
    text-shadow: 5px 5px 5px #333;
    font-weight: 600;
}

.title-p {
    width: 90%;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 400;
    color: white;
    letter-spacing: 3px;
    padding-top: 1rem;
    text-shadow: 3px 3px 3px #333;
}

.button-container {
    height: 100%;
    width: 70%;
    margin: 0 auto 10rem auto;
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
    /* outline: 1px solid white; */
}

.btn-1,
.btn-2 {
    padding: .7rem 2.5rem;
    font-size: 1.7rem;
    width: 100%;
    /* border: 3px solid  white; */
    border: 2px solid rgba(255, 255, 255, .15);
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin: 1rem 2.5rem;
    box-shadow: 7px  7px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    background-color: none;
    transition: box-shadow .2s ease-in-out .1s, transform .2s ease-in-out .1s;
}

.btn-1:hover,
.btn-2:hover {
    transform: scale(1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .7);

}


/* MEDIA QUERIES FOR LANDING PAGE */

@media screen and (max-width: 1300px) {
    .title-container {
        padding: 6rem 0 1rem 0;
        /* outline: 1px solid white; */
    }

    .title{
        font-size: 5rem;
        letter-spacing: 8px;
    }

    .title-p {
        font-size: 2.1rem;
        padding-top: .5rem;
    }

    .button-container {
        /* outline: 1px solid white; */
        padding: 0;
        margin-bottom: 9rem;
    }

    .btn-1, .btn-2 {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 1100px) {
    .title {
        font-size: 4.5rem;
    }

    .title-p {
        font-size: 1.9rem;
    }

    .btn-1, .btn-2 {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media screen and (max-width: 1000px) {
    .title {
        font-size: 4rem;
        letter-spacing: 6px;
        line-height: 6rem;
    }

    .title-p {
        font-size: 1.7rem;
    }

    .btn-1, .btn-2 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .btn-1,
    .btn-2 {
        /* padding: .7rem 1.5rem; */
        font-size: 1.5rem;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 850px) {

    .title {
        font-size: 3.5rem;
        line-height: 5rem;
    }

    .title-p {
        font-size: 1.4rem;
    }

    .button-container {
        width: 80%;
    }
    
    .btn-1,
    .btn-2 {
        /* padding: .7rem 1.5rem; */
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .title-container {
        padding-top: 6rem;
    }
    .title {
        font-size: 3rem;
        line-height: 4rem;
    }
    .title-p {
        font-size: 1rem;
        margin-top: 2rem;
    }

    .button-container {
        margin-top: 2rem;
        margin-bottom: 13rem;
    }

}

@media screen and (max-width: 560px) {

    
    .nav-container .nav{
        justify-content: space-evenly;
        /* padding-right: 0rem; */
        /* outline: 2px solid green; */
    }

    .title-container {
        padding-top: 3rem;
    }
    
    .title {
        width: 100%;
        font-size: 2.5rem;
        line-height: 2.7rem;
        font-weight: 600;
        /* font-size: 3.5rem; */
    }

    .title-p {
        font-size: .9rem;
    }

    .button-container {
        /* padding-top: 1rem; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 8rem;
        width: 70%;
    }

    .btn-1, 
    .btn-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .btn-2 {
        margin-top: 20px;
    }
}

@media screen and (max-width: 400px) {
    .title {
        width: 100%;
        font-size: 2rem;
        line-height: 2.6rem;
        margin-bottom: .5rem;
        /* font-size: 3.5rem; */
    }

    .title-p {
        font-size: .9rem;
    }

    .btn-1 {
        margin-top: 40px;
    }
}




/* ================================== */
            /* Sign Up Page */
/* ================================== */

h1 { 
    font-size: 3rem;
    margin-top: 50px;
}
h2 { 
    font-size: 1.6rem;
    margin-bottom: 50px;
}

h1, h2 {
    color: rgba(0, 0, 0, .8);
    text-align: center;
    padding: 5px;
}

form { 
    font-size: 1.4rem; 
    color: #222;
}

/* ================================== */
          /* Register Page */
/* ================================== */

.register-page,
.login-page {
    height: 100%;
    width: 100%;
}

.register-form-title,
.login-form-title {
    /* outline: 1px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.register-title,
.login-title {
    margin-top: 8rem;
}

.register-product-form,
.login-form,
.signup-form {
    height: 100%;
    width: 60%; 
    margin: 5rem auto 12rem auto;
    /* outline: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.register-form-child,
.login-form-child,
.signup-form-child {
    font-size: 1.9rem;
    /* outline: 1px solid green; */
    height: 100%;
    width: 100%;
    display: flex; 
    /* margin: 0 0 6px 0; */
    padding: 10px;
    /* outline: 2px solid green; */
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}

.register-form-child .label,
.login-form-child .label,
.signup-form-child .label {
    /* outline: 1px solid purple; */
    display: flex;
    justify-content: center;
    width: 50%;
}

.register-form-child .field,
.login-form-child .field,
.signup-form-child .field{
    display: flex;
    /* outline: 1px solid blue; */
    width: 100%;
    justify-content: center;
}

.register-input,
.login-input,
.signup-input {
    /* outline: 1px solid green; */
    font-size: 1.6rem;
    width: 100%;
    padding: 16px 20px;
    text-align: center;
    border-radius: 7px;
    letter-spacing: 2px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, .4);
    /* margin-left: 10%; */
    /* outline: 1px solid red; */
}

.register-submit-btn-container,
.login-submit-btn-container,
.signup-submit-btn-container {
    /* outline: 4px solid white;  */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.register-submit-btn-container .register-submit-btn,
.login-submit-btn-container .login-submit-btn,
.signup-submit-btn-container .signup-submit-btn {
  /* outline: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, .6);
  width: 50%;
  text-align: center;
  border-radius: 7px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, .4);
  padding: 10px;
}

/* REGISTER PG MEDIA QUERIES */

@media screen and (max-width: 1300px) {
    .register-title,
    .login-title{
        margin-top: 5rem;
    }

    .register-product-form,
    .login-form,
    .signup-form {
        height: 100%;
        width: 60%; 
        margin: 0 auto 12rem auto;
        /* outline: 1px solid yellow; */
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .register-form-child,
    .login-form-child,
    .signup-form-child {
        font-size: 30px;
        height: 100%;
        width: 100%;
        display: flex; 
        margin: 0 0 2px 0;
        padding: 10px;
        /* outline: 2px solid green; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .register-form-child .label,
    .login-form-child .label,
    .signup-form-child .label{
        font-size: 1.6rem;
    }

    .register-input,
    .login-input,
    .signup-input {
        font-size: 1.4rem;
    }

    .register-submit-btn-container,
    .login-submit-btn-container,
    .signup-submit-btn-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.register-submit-btn-container .register-submit-btn,
.login-submit-btn-container .login-submit-btn,
.signup-submit-btn-container .signup-submit-btn {
        font-size: 1.3rem;
        color: rgba(0, 0, 0, .6);
        width: 50%;
        padding: 10px 20px;
        text-align: center;
        border-radius: 7px;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, .4);
    }
}

@media screen and (max-width: 1080px) {
    .nav-container .nav li {
        letter-spacing: 1.5px;
        font-size: 1.4rem;
    }
    
    .register-title {
        margin-top: 2rem;
    }

    .register-form-child .label,
    .login-form-child .label,
    .signup-form-child .label {
        font-size: 1.3rem;
    }

    .register-form-child .field .register-input,
    .login-form-child .field .login-input,
    .signup-form-child .field .signup-input {
        font-size: 1rem;
        /* outline: 2px solid red; */
    }

    .register-submit-btn-container .register-submit-btn,
    .login-submit-btn-container .login-submit-btn,
    .signup-submit-btn-container .signup-submit-btn {
        font-size: 1.1rem;
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    .register-submit-btn-container .register-submit-btn,
    .login-submit-btn-container .login-submit-btn,
    .signup-submit-btn-container .signup-submit-btn {
        font-size: 1rem;
        padding: 15px 25px;
    }
}

@media screen and (max-width: 850px) {
    .register-form-child .label,
    .login-form-child .label,
    .signup-form-child .label {
        width: 70%;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .register-form-child,
    .login-form-child,
    .signup-form-child {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .register-form-child .field,
    .login-form-child .field,
    .signup-form-child .field, {
        width: 100%;
    }

    .register-submit-btn-container .register-submit-btn,
    .login-submit-btn-container .login-submit-btn,
    .signup-submit-btn-container .signup-submit-btn {
        font-size: 1rem;
        text-align: center;
        width: 70%;
        /* padding: 15px 25px; */
        padding: 15px 35px;
    }
}


/* ====================== */
/* DASHBOARD */
/* ====================== */
.dashboard-title-container {
    /* outline: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.dashboard-btn-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 0 16rem 0;
    /* outline: 1px solid red; */
}

.reg-btn-1,
.reg-btn-2 {
    padding: .7rem .5rem;
    font-size: 1.7rem;
    /* outline: 2px solid purple; */
    /* border: 3px solid  white; */
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    text-decoration: none;
    margin: 1rem 2.5rem;
    box-shadow: 5px  5px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    text-align: center;
    background-color: none;
    transition: box-shadow .2s ease-in-out .1s, transform .2s ease-in-out .1s;
}

.reg-btn-1:hover,
.reg-btn-2:hover {
    transform: scale(1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
}

@media screen and (max-width: 900px) {
    .dashboard-btn-container {
        padding: 5rem 0;
    }
}

@media screen and (max-width: 650px) {
    .dashboard-btn-container {
        width: 100%;
        flex-direction: column;
        /* outline: 1px solid white; */
    }
    .reg-btn-1,
    .reg-btn-2 {
        width: 70%;
    }
}

/* ====================== */
/* PROTOTYPE PAGE */
/* ====================== */

.building-title-container {
    height: 100%;
    width: 100%;
    display: flex;
    outline: 1px solid white;
    justify-content: center;
    align-items: center;
}

.building-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 60%;
    outline: 1px solid red;
    margin-top: 0;
}

.main-content {
    outline: 2px solid green;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.lg-p {
    outline: 1px solid orange;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.lg-p p {
    outline: 1px solid yellow;
    height: 100%;
    width: 60%;
    padding: 1rem 2rem;
}

.content {
    outline: 2px solid purple;
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content2 {
    flex-direction: row-reverse;
}

.img-container {
    outline: 1px solid yellow;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    max-height: 150px;
    min-height: 150px;
    max-width: 150px;
    min-width: 150px;
}

.p-container {
    height: 100%;
    width: 50%;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid yellowgreen;
}

.p-container p {
    width: 80%;
}