@import url('https://fonts.googleapis.com/css?family=Kanit:300i,400,600,700');
/* font-family: 'Kanit', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    font-family: 'Kanit', sans-serif;
}

.testing {
    padding: 16rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.testing h1 {
    font-size: 7rem;
    color: white;
    letter-spacing: 7px;
    /* text-shadow: 1px 1px 2px #456ef4; */
    text-shadow: 3px 3px 3px #333;
    font-weight: 600;
    
}

.testing p {
    font-size: 35px;
    color: white;
    letter-spacing: 2px;
}

.testing-btn {
    padding: .7rem 1rem;
    font-size: 26px;
    color: white;
    border: 3px solid #30d8c2;
    border-radius: 5px;
    text-decoration: none;
}