* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
}

.testing {
    padding: 16rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.testing h1 {
    font-size: 7rem;
    color: white;
    /* text-shadow: 1px 1px 2px #456ef4; */
    text-shadow: 3px 3px 3px #333;
}

.testing-buttons {
    display: flex;
    
}

.testing-btn-1,
.testing-btn-2 {
    padding: .7rem 1rem;
    font-size: 26px;
    color: white;
    border: 3px solid #30d8c2;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 1rem;
}

