@import url('https://fonts.googleapis.com/css?family=Kanit:300i,400,600,700');
/* font-family: 'Kanit', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
}

.landing-page { 
    background: -webkit-radial-gradient(#1488CC, #2B32B2);  /* Chrome 10-25, Safari 5.1-6 */
    background: radial-gradient(#1488CC, #2B32B2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .header-container {
    height: 100%;
    width: 100%;
    padding:  1rem 4rem 0 0 ;
    display: flex;
    justify-content: flex-end;
}

.register {
    text-decoration: none;
    color: white;
} */

.title-container {
    height: 100%;
    width: 100%;
    padding-top: 17rem;
    line-height: 7rem;
    /* outline: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    font-size: 6.5rem;
    color: white;
    letter-spacing: 1rem;
    text-align: center;
    /* outline: 1px solid red; */
    /* text-shadow: 1px 1px 2px #456ef4; */
    text-shadow: 5px 5px 5px #333;
    font-weight: 600;
}

.title-p {
    font-size: 2.3rem;;
    font-weight: 400;
    color: white;
    letter-spacing: 3px;
    padding-top: 1rem;
    text-shadow: 3px 3px 3px #333;
}

.button-container {
    height: 100%;
    width: 70%;
    margin: 0 auto 16rem auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    /* outline: 1px solid white; */
   
}

.btn-1,
.btn-2 {
    padding: .7rem 1.5rem;
    font-size: 26px;
    color: rgba(255, 255, 255, .9);
    border: 3px solid  #30d8c2;
    border: 2px solid rgba(238, 168, 73, .8);
    border-radius: 10px;
    text-decoration: none;
    margin:  1rem 2.5rem;
    box-shadow: 5px  5px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    background: transparent;
    transition: box-shadow .1s ease-in-out .1s, transform .2s ease-in-out .1s;
}

.btn-1:hover,
.btn-2:hover {
    transform: scale(1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
}

